<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@300;400;600
    &display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>Border-radius Visualized</title>
</head>

<body>

    <div id="app">

        <nav>

            <div class="logo">
                <P class="title">Border-radius</P>
                <p class="note">Visualized</p>
            </div>

            <div class="menu">
                <img src="resources/Icons/menu.svg">
            </div>

        </nav>

        <section class="section intro">


            <div class="textBlock">

                <p class="question">
                    What is border-radius ?
                </p>

                <p class="answer">
                    The border-radius is a CSS property which rounds the corners of an element’s outer border edge. You can set a single radius to make circular corners, or two radii to make elliptical corners.
                </p>

            </div>



        </section>

        <!--
        <div class="intro_svg">

                <img src="resources/images/introSVG.svg">
                
            </div>
-->
        <div class="texts">

            <p>Now , lets try understanding it.</p>
            <p>Here is a div with height 150px and width 150px </p>

        </div>


        <div class="playgroundHor">

            <div class="split">
                <div class="box b150">150x150</div>
            </div>

            <div class="split">
                <div class="code">

                    div{<br>
                    height: 150px ;<br>
                    width : 150px;<br>
                    background: #00FFA8;<br>
                    }

                </div>
            </div>

        </div>


        <div class="texts">

            <p>We can easily make its corners rounded by applying the border-radius css property. Lets have rounded corners of 20px.</p>

        </div>

        <div class="playgroundHor">

            <div class="split">
                <div class="box b150 br20">150x150</div>
            </div>

            <div class="split">
                <div class="code">
                    div{<br>
                    height: 150px ;<br>
                    width : 150px;<br>

                    <p>border-radius: 20px;</p>

                    background: #00FFA8;<br>
                    }

                </div>
            </div>

        </div>

        <div class="texts">

            <p>Easy , isnt it ? But now the quetions is...</p>

        </div>


        <section class="section works">


            <div class="textBlock">

                <p class="question">
                    How border-radius works ?
                </p>

                <p class="answer">
                    Well, we know that css follows Box Model, which means everything in css has a box around it. Even when we can not see it. (You can always check its border with the border css property).

                    When we set border-radius property to an element , Its all four corners are rounded with reference to the four assigned invisible circles with radius equal to the value which we put in border-radius property.
                </p>

            </div>



        </section>


        <div class="texts">

            <p>Lets see it in working. Hers’s another div with height and width equal to <b>200px</b>. See how border-radius rounds the corners of div with reference to four circles.So the value which we write in border-radius property is actually the radius of these circles(Blue line) which guide the roundenss.</p>

        </div>

        <div class="playgroundVer">

            <div class="split">
                <div class="box b200" v-bind:style="{borderRadius:roundness50+'px'}"> 200x200

                    <div class="guideCircles top_left" v-bind:style="guideCircles50" v-if="visible">

                        <div class="radius radVer"></div>
                        <div class="radius radHor"></div>

                    </div>

                    <div class="guideCircles top_right" v-bind:style="guideCircles50" v-if="visible"></div>

                    <div class="guideCircles bottom_right" v-bind:style="guideCircles50" v-if="visible"></div>

                    <div class="guideCircles bottom_left" v-bind:style="guideCircles50" v-if="visible"></div>

                </div>


            </div>

            <div class="split">

                <div class="panel">

                    <div class="code">
                        <p>border-radius: {{roundness50}}px;</p>
                    </div>

                    <button @click="visible = !visible" class="guideButton">
                        <p v-if="visible">Hide</p>
                        <p v-if="!visible">Show</p>
                        <p>Circles</p>
                    </button>

                </div>


                <div class="slider_cont">
                    <p>0</p>

                    <input class="slider" type="range" min="0" v-model="roundness50" max="50">

                    <p>50</p>
                </div>
            </div>

        </div>


        <div class="texts">

            <p>We can now see how the border-radius applies the rounded corders to any element.

                We used px (pixels) for applying value. We can also write the value in em , rem and %. (px and % are usually preffered over others)</p>

        </div>

        <section class="section ifHalf">


            <div class="textBlock">

                <p class="question">
                    What if border-radius value is equal to half the size of element ?
                </p>

            </div>



        </section>

        <div class="texts">
            <p>Lets check it out. Slide the pointer all the way to 100, that is half of 200, the width of our div element.</p>
        </div>

        <div class="playgroundVer">

            <div class="split">
                <div class="box b200" v-bind:style="{borderRadius:roundness100+'px'}">200x200

                    <div class="guideCircles top_left" v-bind:style="guideCircles100" v-if="visible">
                        <div class="radius radVer"></div>
                        <div class="radius radHor"></div>
                    </div>

                    <div class="guideCircles top_right" v-bind:style="guideCircles100" v-if="visible"></div>

                    <div class="guideCircles bottom_right" v-bind:style="guideCircles100" v-if="visible"></div>

                    <div class="guideCircles bottom_left" v-bind:style="guideCircles100" v-if="visible"></div>

                </div>


            </div>

            <div class="split">

                <div class="panel">

                    <div class="code">
                        <p>border-radius: {{roundness100}}px;</p>
                    </div>

                    <button @click="visible = !visible" class="guideButton">
                        <p v-if="visible">Hide</p>
                        <p v-if="!visible">Show</p>
                        <p>Circles</p>
                    </button>

                </div>


                <div class="slider_cont">
                    <p>0</p>

                    <input class="slider" type="range" min="0" v-model="roundness100" max="100">

                    <p>100</p>
                </div>
            </div>

        </div>


        <div class="texts">
            <p>
                We are getting a circle. so now we know that to make a circle we are supposed to have a square element and set its border radius equal to half its width or we can simply write <b>border-radius : 50%</b> if we dont want to calculate half width of it.
            </p>
        </div>


        <section class="section ifEqual">


            <div class="textBlock">

                <p class="question">
                    What if border-radius value is equal to the size of element ?
                </p>

            </div>



        </section>

        <div class="texts">
            <p>Slide the pointer to 200px.</p>
        </div>

        <div class="playgroundVer">

            <div class="split">
                <div class="box b200" v-bind:style="{borderRadius:roundness200+'px'}">200x200

                    <div class="guideCircles top_left" v-bind:style="guideCircles200" v-if="visible">
                        <div class="radius radVer"></div>
                        <div class="radius radHor"></div>
                    </div>

                    <div class="guideCircles top_right" v-bind:style="guideCircles200" v-if="visible"></div>

                    <div class="guideCircles bottom_right" v-bind:style="guideCircles200" v-if="visible"></div>

                    <div class="guideCircles bottom_left" v-bind:style="guideCircles200" v-if="visible"></div>

                </div>


            </div>

            <div class="split">

                <div class="panel">

                    <div class="code">
                        <p>border-radius: {{roundness200}}px;</p>
                    </div>

                    <button @click="visible = !visible" class="guideButton">
                        <p v-if="visible">Hide</p>
                        <p v-if="!visible">Show</p>
                        <p>Circles</p>
                    </button>

                </div>


                <div class="slider_cont">
                    <p>0</p>

                    <input class="slider" type="range" min="0" v-model="roundness200" max="200">

                    <p>200</p>
                </div>
            </div>

        </div>

        <div class="texts">
            <p>Now you would be thinking why the div’s border is not changing after 100px ? Should not it be like this :
            </p>
        </div>

        <div class="playgroundVer">
            <div class="split">
                <img src="resources/images/ifgreater.svg">
            </div>
        </div>


        <div class="texts">
            <p>
                Yes right , but if we look closely , we see that this new shape has width and height less than our div’s orignal height and width.
            </p>
        </div>


        <div class="playgroundVer">
            <div class="split">
                <img src="resources/images/ifgreater2.svg">
            </div>
        </div>

        <div class="texts">
            <p>
                In our earlier cases when border-radius was less than or equal to half the width of element , the changed shape of our element always had dimension of 200x200 retained.
            </p>
            <br>
            <p>Increasing border-radius past 100 would shrink the shape and that would lead to layout disturbance in our page , thats why CSS does not rounds border of any element after element's half size.
            </p>
            <br>
            <p>An elemnt can be circular or elleptical at maximum. Increasing the border-radius value past its half size would bring no change to its shape. Check it out below , play around with different values.
            </p>
        </div>


        <div class="playgroundVer">

            <div class="split">
                <div class="box dynamic" v-bind:style="{borderRadius:roundness400+'px',height:dyHeight+'px',width:dyWidth+'px'}">{{dyWidth}}x{{dyHeight}}

                    <div class="guideCircles top_left" v-bind:style="guideCircles400" v-if="visible">
                        <div class="radius radVer"></div>
                        <div class="radius radHor"></div>
                    </div>

                    <div class="guideCircles top_right" v-bind:style="guideCircles400" v-if="visible"></div>

                    <div class="guideCircles bottom_right" v-bind:style="guideCircles400" v-if="visible"></div>

                    <div class="guideCircles bottom_left" v-bind:style="guideCircles400" v-if="visible"></div>

                </div>


            </div>

            <div class="split">

                <div class="panel">

                    <div class="code">
                        <p>border-radius: {{roundness400}}px;</p>
                    </div>

                    <button @click="visible = !visible" class="guideButton">
                        <p v-if="visible">Hide</p>
                        <p v-if="!visible">Show</p>
                        <p>Circles</p>
                    </button>

                </div>

                <div class="sliderRow">
                    <P>Width</P>
                    <div class="slider_cont">
                        <p>0</p>
                        <input class="slider" type="range" min="0" v-model="dyWidth" max="300">
                        <p>300</p>
                    </div>
                </div>
                <div class="sliderRow">
                    <P>Height</P>
                    <div class="slider_cont">
                        <p>0</p>
                        <input class="slider" type="range" min="0" v-model="dyHeight" max="200">
                        <p>200</p>
                    </div>
                </div>
                <div class="sliderRow">
                    <P>Border-radius</P>
                    <div class="slider_cont">
                        <p>0</p>
                        <input class="slider" type="range" min="0" v-model="roundness400" max="400">
                        <p>400</p>
                    </div>
                </div>

            </div>

        </div>






        <footer>
            Work in progress
        </footer>


    </div>

    <script src="js/vue.js">
    </script>
    <script src="js/app.js"></script>

</body>

</html>