/*Resetting*/

*{
box-sizing: border-box;
}
  
body{
/*    font-family: "poppins", sans-serif;*/
    font-size: 16px;
    background-color: #14B17C;
    font-family: 'Poppins',sans-serif;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,button{
    padding: 0px;
    margin: 0px;
}


/*Main*/

#app{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 0.5px;
}

nav{
    height: 70px;
    background-color: transparent;
    position: relative;
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-family: 'Varela Round',sans-serif;
   display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}
.title{
    font-size: 20px;
    color: #00FFA8;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 5px;
    
}

.note{
    color: #fff;
    line-height: 100%;
    font-size: 12px;
    font-weight: 400;
}
.menu{
    height: 100%;
    background-color: transparent;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
}
.menu img{
    height: 100%;
    width: 100%;
}


.section{
    display: flex;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../resources/images/coverBG.jpg");
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.intro{
    width: calc(100% - 70px);
    border-radius: 0px 0px 80px 0px;
    padding:130px 35px 60px;
}

.works{
    width: 100%;
    border-radius: 120px 0px 120px 0px;
    padding: 60px 40px;
}

.ifHalf{
    width: 90%;
    border-radius: 0px 40px 180px 0px;
    padding: 60px 40px;
}

.ifHalfAnswer{
    align-self: flex-end;
    width: 90%;
    border-radius: 200px 0px 0px 200px;
    padding: 50px 50px;
}

.textBlock{
    color: #fff;
    width: 100%;
}

.question{
    padding-right: 35px;
    font-size: 30px;
    padding-bottom: 35px;
    letter-spacing: 0px;
    font-family: 'Varela Round',sans-serif;
}

.ifHalf .question{
    padding-bottom: 0px;
}

.answer{ 
    margin: 0px 0px;
    line-height: 150%;
}
/*

.intro_svg{ 
    width: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 105px;
    display: flex;
    background-color: blueviolet;
}
.intro_svg img{
    height: 100%;
    width: 100%;
}
*/

.texts{
    padding: 20px;
/*    background-color: chocolate;*/
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texts p{
    color: #fff;
    line-height: 140%;
}

.playgroundHor{
    display: flex;
    width: 100%;
/*    background-color: blueviolet;*/
    padding: 30px 20px;
    flex-direction: row;
}

.playgroundHor .split{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.playgroundVer{
    display: flex;
    width: 100%;
    
/*    background-color: blueviolet;*/
    flex-direction: column;
}

.playgroundVer .split{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
/*    background-color: coral;*/
}

.box{
    position: relative;
    background: #00FFA8;
    border-radius: 0;
    display: flex;
    color: hsl(160, 100%, 10%);
    justify-content: center;
    border:0px;
    align-items: center;
    box-shadow: 20px 20px 50px 0px hsl(160, 84%, 25%);
    overflow: hidden;
}

.b150{
    height: 150px;
    width: 150px;
    font-size: 12px;
}
.b200{
    height: 200px;
    width: 200px;
    font-size: 12px;
}

.br20{
    border-radius: 20px;
}

.code{
    display: flex;
    
    background-color: rgba(0,0,0,0.10);
    color: #003825;
    border-radius: 4px;
}

.code p{
    color: #fff;
}

.playgroundHor .split .code{
    
    flex-direction: column;
    width: 100%;
    padding: 15px 10px;
    justify-content: center;
    align-items: flex-start;

}

.playgroundVer .split .code{
    width: 200px;
    height: 50px;
    margin-right: 20px;
display: flex;
    justify-content: center;
    align-items: center;
}

.panel{
    display: flex;
}

.slider_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 100%;
}

.slider_cont p{
    color: #fff;
    margin: 0px 6px;
}

.slider{
 width: 250px; 
    appearance:none;
    height: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    outline: 0px;
}

.slider::-moz-range-thumb{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#fff;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

.guideCircles{
    display: flex;
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 50%;
    border:1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.10);
}


.guideButton{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-size: 14px;
    letter-spacing: 0.5px;
    background-color: #464646;
    color: #fff;
    border: 0px;
    border-radius: 25px;
}

.guideButton p{
    margin: 0px 2px;
}

.guideButton:focus{
    outline: 0px;
}
.guideButton:hover{
    background-color: #005a3b;
}

.top_left{
    top: 0px;
    left: 0px;
}
.top_right{
    top: 0px;
    right: 0px;
}
.bottom_right{
    bottom: 0pc;
    right: 0px;
}
.bottom_left{
    bottom: 0pc;
    left: 0px;
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 80px;
    position: relative;
    background-color: #1f1f1f;
    width: 100%;
    color: #fff;
}

/* 
.card{
    background-color: transparent;
   background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px 0px;
}

.heading{
    background-color: #fff;
    padding: 5px 20px;
    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    margin: 20px 0px;
}

.desc{
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
}

section{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.screen{
    
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
}


.code_info{
    background-color: #f5e486;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 4px;
    margin: 20px 0px;
    
    flex-direction: column;
}

.label{
    font-size: 13px;
    line-height: 100%;
    color: #005538;
    margin: 10px 0px;
    padding: 0px 10px;
    width: 100%;
}

/*
.code{
    font-size: 16px;
    margin: 0px 0px 5px;
    width: 100%;
    height: 32px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}




.innerCircle{
    
    position: absolute;
    
    background-color: rgba(220, 0, 0, 0.05);
    height: 0;
    width: 0;
    
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 10px;
    
    border-radius: 50%;
    border:1px solid rgba(220, 0, 0, 0.08);
}

.content{
    display: flex;
/*    background-color: red;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
/*    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
}

.row.code{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: hsl(160, 84%, 30%);
    border-radius: 5px 5px 0px 0px;
    color: #fff;
}

.row.code div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 0px;
}

.brValue{
    background-color: red;
    background-color:#00ffa8;
    margin: 0px 4px;
    padding: 0px 4px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #fff;
    border-radius: 2px;
    color:#000;
}

.brValue.active{
    background-color: red;
    background-color: #fff;
    color: #0d7b56;
}

.setting{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background-color: hsl(160, 84%, 25%);
    border-radius: 0px 0px 5px 5px;
}

.slider{
 width: 200px; 
    appearance:none;
    height: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    outline: 0px;
}

.slider::-moz-range-thumb{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#fff;
    cursor: pointer;
}

.slider::-webkit-slider-thumb{
    appearance:none;
    -webkit-appearance:none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background:#fff;
    box-shadow:0px 0px 5px 0px rgba(0,0,0,0.4);
    cursor: pointer;
}

.setting p{
    color: #fff;
    margin: 0px 10px;
}






@keyframes br{
    
    50%{
        border-radius: 200px 200px 0px 0px;
    }
}













@media all and (min-width: 600px){
    
    section{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .row.code{
    display: flex;
    width: 100%;
    padding: 10px 10px;
    justify-content: flex-start;
    align-items: center;
    background-color: #0d7b56;
    color: #fff;
    max-width: 600px;
}

.brValue{
    background-color: red;
}
    
    .slider{
 width: 150px;
    }
    .screen{
        width: 50%;
    }
    .content{
        width: 50%;
/*                background-color: aqua;

    }

}
*/
/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



