:root{
    --accColor:#F88762;
}
*{
box-sizing: border-box;
}

body,button{
    font-family: "poppins", sans-serif;
    font-size: 1em;
    background-color: #F0F0F0;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,button,input{
    padding: 0px;
    margin: 0px;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    font-size: 16px;
}

button:focus{
    outline: 0px;
}

/*Main*/

nav{
  display: flex;
    position: fixed;
    top: 0px;
    padding:0px 20px;
    height: 60px;
    background-color: #fff;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.25);
}
#logo{
    font-size: 2em;
    color: var(--accColor); 
}

#frontSection{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 10px 10px;
    
}

#settings{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 0px;
    height: 52px;
    font-size: 14px;
}
#settings p{
    margin: 0px 3px;
} 

#groups{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 14px ; 
    overflow: hidden;
    transition: 300ms all;
}

.groupHeader{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #fff;
    align-items: center;
    padding-left: 15px;
}
.groupTitle{
    font-size: 18px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.arrowIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
    background-color: #fff;
    transition: 300ms all;
}
.arrowIcon.active{
    background-color: #f7f7f7;
}
.arrowIcon img{
    width: 18px;
    height: 18px;
    transition: 300ms all;
}
.arrowIcon img.active{
    transform: rotate(180deg); 
}

.groupContent{
    padding: 10px 0px; 
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
/*    transition: 200ms ease;*/
    background-color: #F88762;
}

.task{
    display: flex;
    margin: 5px 0px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.task input[type=checkbox]{
    margin-left: 25px;
}

.taskTitle{
    display: inline;
    line-height: 32px;
    vertical-align: middle;
    color: #fff;
    width: 100%;
    height: 32px;
    font-size: 16px;
    margin:0px 23px 0px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.options{
    position: relative;
    right: -200px;
    display: flex;
    height: 32px;
    justify-content: center;
    align-items: center;
/*    display: none;*/
/*    flex-direction: row;*/
/*    background-color: red;*/
    transition: 500ms all;
    padding-right: 12px;
}

.options.active{
    right: 0px;
}

.options div{
    height: 32px;
    background-color: #e36a43;
    font-size: 13px;
    color: #fff;
    border-radius: 4px;
    display: flex;
    height: 100%;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    padding:0px 10px;
    cursor: pointer;
}

.options div:hover{
    background-color: #b95434;
}

.options div img{
    width: 18px;
    margin-right: 6px;
    height: 18px;
}

.newTask{
    padding: 0px 25px;
}

.taskSwap{
    display: none;
    width: 100%;
}

.taskSwap.beforeClick{
    height: 32px;
    width: 100%;
    display: none;
    justify-content: flex-start;
    align-items: center;
/*    transition: 200ms all;*/
    cursor: pointer;
}

.taskSwap.beforeClick p{
    color: #fff;
    margin: 0px 8px;
}

.taskSwap.beforeClick img{
    width: 15px;
    height: 15px;
}

.taskSwap.afterClick{
    flex-direction: column;
    height: 80px;
    width: 100%;
/*    border: 2px solid white;*/
    padding-left: 23px;
    justify-content: space-between;
    align-items: flex-start;
}

.beforeClick.active{
    display: flex;
}
.afterClick.active{
    display: flex;
    
}
/*
.groupContent.active{
    display: flex;
}
*/

#newTaskName{
    border: 0px;
    color: #FFF;
    width: 100%;
    display: flex;
    font-size: 14px;
    border-radius: 2px ;
    background-color: transparent;
    height: 32px;
    border-bottom: 1px solid #7c351e;
    font-family: "poppins", sans-serif; 
}



#newTaskName:focus{
    outline: 0px;
}

.taskOptions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 32px;
}
.taskButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    width: 80px;
    margin-right: 10px;
    background-color: #fff;
    color: #F88762;
    height: 100%;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

.taskButton:hover{
    background-color: #7c351e;
    color: #fff;
}






.newGroup img{
    width: 16px;
    height: 16px;
} 



.newGroup{
    flex-direction: row;
    border: 1px solid var(--accColor);
    height: 50px;
    width: 100%;
    background-color: #fff;
    display: flex;   
}




#newGroupTitle{
    font-size:18px;
    color: var(--accColor);
    margin-left: 8px;
}



.groupSwap{
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}





.newGroup .beforeClick:hover{
    background-color: #F88762;
    
}
.newGroup .beforeClick:hover #newGroupTitle{
    color: #fff;
}


#newGroupName{
    border: 0px;
    font-size: 16px;
    flex: 1;
    border-radius: 2px;
    padding: 0px 20px;
    height: 100%;
    font-family: "poppins", sans-serif; 
}


#newGroupName:focus{
    outline: 0px;
}

.groupSwap .doneButton{
    border: 0px;
    font-size: 16px;
    border-radius: 2px;
    width: 80px;
    background-color: transparent;
    color: var(--accColor);
    height: 100%;
/*    margin-left: 10px;*/
}


.groupSwap .doneButton:hover{
    background-color: hsla(15, 91%, 68%,0.15);
}














@media all and (min-width: 600px){
}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



