/*Root*/

:root {
    --darkBGColor:#1A1C20 ;
    --lightBGColor: #383D45 ;
    --lightBGColorHover: #32373F ;
    --greyColor:#E0E0E0;
    --captionTextColor: #BDBDBD;
    --accentColor: #FFEB3B ;
    --staatliches: 'Staatliches', cursive;
    --rubik: 'Rubik', sans-serif;
}

/*Resetting*/

ul,ol,li{
    text-decoration: none;
    list-style-type: none;
    color: #fff;
}

*{
box-sizing: border-box;
padding: 0px;
margin: 0px;
}

body{
    font-family: var(--rubik);
    font-size: 1em;
}
button{
    font-family: var(--rubik);
font-weight: 500;
font-size: 14px;
line-height: 100%;
display: flex;
justify-content: center;
align-items: center;
border:0px;
}
input{
    font-size: 1em;
}

/*Main*/

body{
    display: flex;
    flex-direction: column;
    background-color: var(--darkBGColor);
}

/*sections*/

.sectionName{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
width: 100%;
font-weight: bold;
font-size: 30px;
letter-spacing: 0.08em;
text-transform: uppercase;
color: var(--greyColor);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}
.headingSection{
    background: linear-gradient(rgba(26, 28, 32, 0.7),rgba(26, 28, 32, 0.7)),url("../resources/images/trending.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: none; */
}
.postsSection{
    
    
    color: #fff;
    padding: 0px 12px 120px;
    background-color: transparent;
}

/*Navbar*/

nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 12px;
}
nav .navCont{
    width: 100%;
    height: 74px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px 12px 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightBGColor);
}
.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navButtons{
    display: flex;
    height: 100%;
}
.navButtons button{
    height: 100%;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    border-radius: 4px;
    background-color: transparent;
}
.navButtons button:hover{
    background-color: var(--lightBGColorHover);
}

/*heading section > trendingArticle*/

.trendingArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
    padding: 52px;
}
.trendingArticle h2{
width: 100%;
font-weight: 500;
font-size: 20px;
text-align:center;
line-height: 140%;
color: #FFFFFF;
}
.trendingArticle button{
    height: 44px;
    width: 110px;
    margin-top: 36px;
    font-weight: 600;
    background-color: var(--accentColor);
    border-radius: 48px;
}
.trendingArticle button:hover{
    background-color: var(--accentColor);
}

/*Posts Section*/

.postsList{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}


.post{
    width: 100%;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 16px;
margin-bottom: 20px;
background:var(--lightBGColor);
box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.12);
border-radius: 16px;
}


.pImage{
    width: 100%;
    height: 160px;
    background-color: #844B4B;

    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

overflow: hidden;

filter: drop-shadow(12px 12px 32px rgba(0, 0, 0, 0.48));
border-radius: 8px;

}

.pImage img{
    width: 100%;
}


.pHeading{
    width: 100%;

    font-family: var(--rubik);
font-weight: 400;
font-size: 16px;
line-height: 148%;
letter-spacing: -0.01em;
margin: 24px 0px;
color: #fff;
}

.pcaption{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcaption .pDate
{
    font-family: var(--staatliches);
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: var(--accentColor);
    text-transform: uppercase;
}
.pcaption .pDivider{
    height: 10px;
    width: 1px;
    margin: 0px 8px;
    background-color: var(--captionTextColor);
}

.pcaption .pCategory
{
    font-family: var(--staatliches);
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.08em;
    color: var(--captionTextColor);
    text-transform: uppercase;
}

























@media all and (min-width: 600px){

}

/*Desktop*/
@media all and (min-width: 900px) {
    body {
    }
}



